* {
  background-color: #23263b;
  color: aqua;
  font-family: "Titillium Web", sans-serif;
  margin: 2px;
}
input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 2px solid aqua;
  margin-top: 10px;
}
textarea:focus,
input:focus {
  outline: none;
}
button {
  border: none;
  border-bottom: 2px solid aqua;
  border-radius: 2px;
  margin-top: 10px;
  height: 27px;
}
button:hover {
  background-color: aqua;
  color: black;
  font-weight: bold;
}
button:active {
  transform: translateY(2px);
}
